@(title: String)(content: Html)(implicit lang: Lang)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pure.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  </head>
  <body>
    <div class="screenshot">
      <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">
        @title
        </a>
        <ul class="pure-menu-list">
          @content
          @*<li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>*@
          @*<li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>*@
          @*<li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>*@
        </ul>
      </div>
    </div>
</html>